services:
  {%- if values.vectorStore == "chroma" %}
  chroma:
    image: ghcr.io/chroma-core/chroma:0.4.24
    ports:
      - '8000'
    environment:
      ANONYMIZED_TELEMETRY: False
  {%- endif %}
  {%- if values.vectorStore == "weaviate" %}
  weaviate:
    image: semitechnologies/weaviate:1.23.10
    command:
      - --host
      - 0.0.0.0
      - --port
      - '8080'
      - --scheme
      - http
    ports:
      - 8080
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      CLUSTER_HOSTNAME: 'node1'
      DEFAULT_VECTORIZER_MODULE: 'none'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      QUERY_DEFAULTS_LIMIT: 25
  {%- endif %}
